footer {
  background-color: #3fb0ac;
  text-align: center;
  padding: 20px;
}
ul {
  display: inline;
}
ul li {
  color: red;
}
/* .footer-logo {
            img {
              margin-bottom: 20px;
            }
          } */
